*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.dmg
*.log
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.exe
*.dll
*.json

# Папки
/publish/
/publish_full/
/bin/
/photos/
/recordings/
/References_python/
/test_publish/
/obj/
/frames/
/Properties/
/Resources/

